<!DOCTYPE html>
<html lang="en">
    <main>
        <div class="gallery">
            <div class="gallery-content">
                <div class="gallery-image"></div>
                <div class="gallery-text">Сохранить ваше время-наша главная задача</div>
                <div class="gallery-text-inf">Пакт "Одиссея" - это цифровой контракт, заложенный в основе пользовательского соглашения на платформе ODYSSEUS. Этот пакт обозначает взаимное обязательство между пользователями и платформой для совместного стремления к оптимизации использования времени в онлайн-пространстве.

                    В соответствии с пактом "Одиссея", пользователи обязуются активно участвовать в процессе мониторинга и управления своим временем, позволяя платформе анализировать их активность в социальных сетях. В ответ, ODYSSEUS обеспечивает персонализированный контроль и направление, с целью сделать виртуальный опыт более осознанным и направленным на достижение личных и профессиональных целей.

                    Пакт "Одиссея" также призывает к сотрудничеству в установлении ограничений для тех сайтов, которые могут отвлекать от важных задач. Путем активного взаимодействия с функционалом платформы, пользователи подписывают свой договор о более продуктивном использовании онлайн-ресурсов.

                    Таким образом, пакт "Одиссея" становится виртуальным союзом, направленным на сохранение времени, стимулирование роста и улучшение качества цифровой жизни каждого участника.</div>
            </div>
        </div>

        <div class="contacts">
            <div class="contacts-wrapper">
                <div class="contacts-container">
                    <div class="contacts-body">
                        <div class="contacts-header">Что мы можем сделать для вас?</div>
                        <div class="contacts-text">Работа с клиентами нашего сервиса очень важна для нас.Мы ответим вам как можно скорее!</div>
                        <div class="contacts-form">
                            <div class="contacts-info">
                                <input placeholder="Имя" type="text" class="contacts-name" id="contacts-name">
                                <input placeholder="Почта" type="text" class="contacts-email" id="contacts-email">
                            </div>
                            <textarea placeholder="Сообщение..." class="contacts-message" id="contacts-message"></textarea>

                        </div>

                    </div>
                    <div class="contacts-btn" onclick = "send_message()">Отправить</div>
                    <div><%= @test %></div>
                </div>
            </div>

        </div>
    </main>
</html>
