<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stop-page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "stop_page.css" %>
</head>
<body>


    <div class="cont">

        <div class="cont-stop">Тебе точно нужно на данный сайт?</div>
        <div class="cont-stop" id = "label-remaining">Оставшееся время: </div>
        <div class="cont-stop" id = "stop-watch"></div>
        <div class="cont-stop">    <button class="stop-btn" id = "stop-button" onclick="wait_a_second()">Да</button> </div>

    </div>

</body>
</html>
