<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main_page.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="log.css">
    <link rel="stylesheet" href="reg_window.css">
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="popup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container">
            <div class="header-content">
                <img src="logo.png" alt="logo" class="img-logo" >

                <div class="nav">
                    <ul class="nav-content">
                        <li>
                            <a class="nav-link" href="#">Домой</a></li>
                        <li>
                            <a class="nav-link" href="#">Регистрация / Вход</a> </li>
                        <li>
                            <a class="nav-link" href="#">Личный кабинет</a></li>
                        <li>
                          <a class="nav-link" href="#" onclick="showPopup()">О нас</a></li>
                        <li>
                      
                        
                          
                    </ul>
                </div>
                

            </div>

        </div>
    </header>
<main>
    
<div class="prof-form">
    <div class="zag">Ваш профиль</div>
        <div class="prof-cont">
            <img class="profile-logo"  src="profile-logo.png" alt="prof-logo" >
            <div class="prof-txt">
            <li1>Логин:xxxx</li>
            <li2>Почта:xxxx</li>  
            </div>
        </div>
</div>

<div class="statistic-form">
    СТАТИСТИКА
    <div class="position">
        Источник: </div>
    <div class="position">
        Источник:
    </div>
    <div class="position">
        Источник:
    </div>
    <div class="position">
        Источник:
    </div>
</div>
   
</main>
<div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <img class="logo-pop"   src="logo.png" alt="logo">
      <p>Добро пожаловать на ODYSSEUS – платформу, созданную для тех, кто ценит свое время и стремится сделать его использование более осознанным и продуктивным. Наша миссия - помочь вам эффективно управлять временем, освободившись от лишних отвлечений в социальных сетях и на других ненужных сайтах.

        <div class="slog">СОХРАНИТЬ ВАШЕ ВРЕМЯ - НАША ГЛАВНАЯ ЗАДАЧА.</div>
        
        Как это работает?
        
        ODYSSEUS предоставляет вам уникальные инструменты для мониторинга вашей активности в социальных сетях. Мы анализируем ваше время, проведенное в сети, чтобы предоставить вам ценную обратную связь о том, как вы расходуете свои ресурсы. Наша система также способна ограничивать доступ к сайтам, которые могут отвлекать вас и замедлять ваш прогресс.
        
        Полезные направления-
        
        ODYSSEUS не только помогает вам контролировать нежелательные привычки, но и направляет вас на полезные ресурсы. Вы можете настроить перенаправление с одних сайтов на другие, обогащая свой опыт обучения, карьерного роста или личного развития.
        
        Конфиденциальность и Безопасность
        
        Мы ценим вашу конфиденциальность. Все данные обрабатываются анонимно, и вы имеете полный контроль над тем, какие данные вы хотите с нами делиться. Наша цель - помочь вам, не вмешиваясь в вашу личную жизнь.
        
        Присоединитесь к ODYSSEUS и начните свой путь к эффективному управлению временем. Давайте вместе сэкономим каждую минуту на благо вашего личного и профессионального развития. Ваше время - ваш ресурс, и ODYSSEUS поможет вам использовать его наилучшим образом.</p>
    </div>
  </div>

  <script src="popup.js"></script>

</body>
</html> 