body{
    font-family: "Work Sans";
    }
    .container{
    
    margin: auto;
    /*height: 200px;*/
    max-width: 1600px;
    animation: fadeIn 1s ease;
    
    }
    .header-content{
    font-family: "Work Sans";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    
    }
    .img-logo{
    width: 130px;
    height: 130px;
    margin-left: 100px;
    }
    
    .content{
    width: 20px;
    height: 20px;
    
    }
    
    .nav-content{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    
    list-style-type:none;
    display: flex;
    gap:100px;
    margin-top: 60px;
    margin-right: 200px;
    
    }
    .nav-link{
    font-weight: bold;
    color:#708090;
    cursor: pointer;
    text-decoration: none;
    
    }
    .nav-link-contact{
    color: #4682B4;
    font-style: italic;
    }
    .nav-link:hover{
    text-decoration: underline;
    }
    .gallery {
    position: relative;
    min-height: 1500px;
    overflow: hidden;
    animation: fadeIn 3s ease;
    
    }
    
    .gallery-content {
    height: 100%;
    width: 100%;
    position: absolute;
    }
    
    .gallery-image {
    background-size: cover;
    background-image: url(sky-main.jpg);
    height: 100%;
    }
    
    .gallery-text {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    font-size: 72px;
    text-align: center;
    color: #ADD8E6;
    font-weight: bold;
    width: 100%;
    max-width: 100%; /* Добавлено свойство max-width: 100%; */
    box-sizing: border-box;
    }
    
    .gallery-text-inf {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: absolute;
    top: 20%;
    font-size: 50px;
    text-align: center;
    color: #2F4F4F;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    
    
    }
    
    .contacts{
    background-color: #E0E3EB;
    padding: 60px 0;
    }
    .contacts-wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 750px;
    }
    .contacts-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 85px;
    }
    .contacts-header{
    color:#708090;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    }
    .contacts-text{
    color:#708090;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
    .contacts-body{
    display: flex;
    flex-direction: column;
    width: 72%;
    gap: 20px;
    }
    .contacts-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .contacts-info{
    display: flex;
    gap: 1px;
    
    }
    .contacts-name{
    width: 22%;
    
    }
    .contacts-email{
    width: 78%;
    
    }
    .contacts-email,.contacts-name{
    border: none;
    border-radius: 4px;
    padding: 10px 8px;
    }
    .contacts-message{
    max-width: 100%;
    padding: 10px 8px;
    min-height: 135px;
    appearance: none;
    border: none;
    border-radius: 4px;
    
    }
    .contacts-btn{
    padding: 16px 0;
    text-align: center;
    background-color: #4682B4;
    width: 100%;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.05s;
    }
    .contacts-btn:hover{
    background-color:#ADD8E6
    ;
    }
    .footer{
    padding: 25px 0;
    }
    .footer-wrapper{
    margin:auto;
    width: 80%;
    color:#708090;
    }
    .slog{
    color:#ADD8E6;
    text-align: center;
    
    }
    select{
    background-color: #4682B4;
    padding: 3px;
    border: none;
    border-radius: 4px;
    
    }
    @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    }