<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "default.css" %>
    <script src="http://127.0.0.1:3000/main.js"></script>
    <title>ODYSSEUS</title>
    </head>
<body>
  <body>
    <%= yield %>
  </body>
</html>
